{% extends "layout.html" %}
{% block body %}

<div class="page center-col">
	<h3><i class="fa fa-magic fa-lg"/></i> UPenn's Lounge Finder for High Rises </h3>
  <blockquote>
  <p>Sick of going floor by floor to find a lounge to study in? Try lounge finder!</p>
  <footer>Someone famous</footer>
</blockquote>
<a href="{{ url_for('show_entries') }}" class="btn btn-large btn-block btn-info" type="button">Check Lounge Status</a>
<a href="{{ url_for('reservations') }}" class="btn btn-large btn-block btn-warning" type="button">Reserve a Lounge</a>
</div>

{% endblock %}